Repository pixincreate/KeyWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: keywatch, cargo-fmt-check, cargo-clippy

keywatch:
  name: KeyWatch Secret Scanner
  entry: ./hooks/keywatch.sh
  language: system

cargo-fmt-check:
  name: Check Rust formatting with cargo fmt
  entry: cargo +nightly fmt --all -- --check
  language: system

cargo-clippy:
  name: Check Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system

fix(ci): unblock the refactor stack and close review findings
  .keywatch-baseline.json
  README.md
  detectors.toml
  src/cli.rs
  src/detector.rs
  tests/detector_tests.rs
  tests/exit_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(scanner): collapse duplicate findings to the highest severity
  .keywatch-baseline.json
  CHANGELOG.md
  src/report.rs
  src/scanner/mod.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

test(scanner): cover dedupe severity precedence
  src/scanner/mod.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(security): close staged-scan trust gaps found in review (#103)
  .keywatch-baseline.json
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  src/cli.rs
  src/config/mod.rs
  src/detector.rs
  src/lib.rs
  src/scanner/mod.rs
  src/scanner/staged.rs
  src/utils.rs
  templates/pre-commit.sh
  tests/exit_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(detectors): match real token formats and validate captured values (#104)
  .keywatch-baseline.json
  CHANGELOG.md
  detectors.toml
  src/detector.rs
  src/scanner/lines.rs
  tests/detector_tests.rs
  tests/fixtures/fp_corpus/README.md
  tests/fixtures/fp_corpus/phones.txt
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: split scan dispatch and finish audit follow-ups (#105)
  .keywatch-baseline.json
  CHANGELOG.md
  README.md
  detectors.toml
  src/cli.rs
  src/detector.rs
  src/detector/error.rs
  src/lib.rs
  src/report/sarif.rs
  src/run_error.rs
  src/scanner/files.rs
  src/scanner/lines.rs
  src/scanner/mod.rs
  src/scanner/staged.rs
  tests/baseline_tests.rs
  tests/detector_tests.rs
  tests/exit_tests.rs
  tests/hooks_tests.rs
  tests/report_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(scanner): collapse duplicate findings (#106)
  .keywatch-baseline.json
  CHANGELOG.md
  src/report.rs
  src/scanner/mod.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

chore(github): exclude test fixtures from secret scanning
  .github/secret_scanning.yml
Due: none

chore(github): exclude test fixtures from secret scanning (#108)
  .github/secret_scanning.yml
Due: none

refactor(src): move config and scanner off the mod.rs layout
  src/config.rs
  src/scanner.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor(src): move config and scanner off the mod.rs layout (#109)
  src/config.rs
  src/scanner.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(detectors): detect current token formats and close dead branches
  .keywatch-baseline.json
  detectors.toml
  tests/detector_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(scanner): fail on invalid input and anchor baselines to the repo
  .keywatch-baseline.json
  src/baseline.rs
  src/cli.rs
  src/config.rs
  src/config/tests/application.rs
  src/detector.rs
  src/lib.rs
  src/report.rs
  src/report/sarif.rs
  src/scanner.rs
  src/scanner/error.rs
  src/scanner/files.rs
  src/scanner/staged.rs
  tests/baseline_tests.rs
  tests/cli_validation_tests.rs
  tests/exit_tests.rs
  tests/report_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(config): reword a comment that tripped the spell checker
  src/config.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(detectors): detect current token formats and close dead branches (#110)
  .keywatch-baseline.json
  detectors.toml
  tests/detector_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix(scanner): fail on invalid input and anchor baselines to the repo (#114)
  .keywatch-baseline.json
  src/baseline.rs
  src/cli.rs
  src/config.rs
  src/config/tests/application.rs
  src/detector.rs
  src/lib.rs
  src/report.rs
  src/report/sarif.rs
  src/scanner.rs
  src/scanner/error.rs
  src/scanner/files.rs
  src/scanner/staged.rs
  tests/baseline_tests.rs
  tests/cli_validation_tests.rs
  tests/exit_tests.rs
  tests/report_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

feat(hooks): scan the pushed revision range in pre-push
  templates/pre-push.sh
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

chore(baseline): refresh entries for the pre-push hook fixtures
  .keywatch-baseline.json
Due: none

feat(hooks): scan the pushed revision range in pre-push (#112)
  .keywatch-baseline.json
  templates/pre-push.sh
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

chore(ci): harden distribution and rewrite the docs
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .github/workflows/update-baseline.yml
  .keywatch-baseline.json
  CHANGELOG.md
  Dockerfile
  README.md
  action.yml
  justfile
  scripts/action_validation/keywatch_action_scenarios.py
  scripts/action_validation/validate.py
  scripts/release.sh
Due: keywatch

chore(ci): harden distribution and rewrite the docs (#113)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .github/workflows/update-baseline.yml
  .keywatch-baseline.json
  CHANGELOG.md
  Dockerfile
  README.md
  action.yml
  justfile
  scripts/action_validation/keywatch_action_scenarios.py
  scripts/action_validation/validate.py
  scripts/release.sh
Due: keywatch

feat: close out the scanner improvement backlog
  .keywatch-baseline.json
  CHANGELOG.md
  README.md
  detectors.toml
  src/cli.rs
  src/detector.rs
  src/lib.rs
  src/scanner.rs
  src/scanner/lines.rs
  src/scanner/staged.rs
  src/utils.rs
  tests/detector_tests.rs
  tests/exit_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

test: align helpers with production and close review findings
  .keywatch-baseline.json
  README.md
  src/config/tests/application.rs
  tests/detector_tests.rs
  tests/exit_tests.rs
  tests/hooks_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs(readme): align tables and document the new scan behaviors
  README.md
Due: none

docs(readme): restore the architecture section
  README.md
Due: none

docs(architecture): update diagrams for the new scan behavior
  .keywatch-baseline.json
  docs/architecture/detector-config-trust.d2
  docs/architecture/detector-config-trust.svg
  docs/architecture/scan-pipeline.d2
  docs/architecture/scan-pipeline.svg
Due: none

feat: close out the scanner improvement backlog (#115)
  .keywatch-baseline.json
  CHANGELOG.md
  README.md
  detectors.toml
  docs/architecture/detector-config-trust.d2
  docs/architecture/detector-config-trust.svg
  docs/architecture/scan-pipeline.d2
  docs/architecture/scan-pipeline.svg
  src/cli.rs
  src/config/tests/application.rs
  src/detector.rs
  src/lib.rs
  src/scanner.rs
  src/scanner/lines.rs
  src/scanner/staged.rs
  src/utils.rs
  tests/detector_tests.rs
  tests/exit_tests.rs
  tests/hooks_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

release(KeyWatch): version 3.0.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  action.yml
Due: none

docs(release): lead 3.0.0 with breaking changes and bump references
  CHANGELOG.md
  README.md
Due: none

release(KeyWatch): version 3.0.0 (#116)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  action.yml
Due: none

scanner: Harden detection and scan coverage
  .keywatch-baseline.json
  CHANGELOG.md
  README.md
  action.yml
  detectors.toml
  docs/plans/2026-10-06-hardening.md
  docs/security-and-validation.md
  scripts/action_validation/keywatch_action_scenarios.py
  scripts/action_validation/validate.py
  scripts/benchmark.py
  src/baseline.rs
  src/cli.rs
  src/config.rs
  src/config/tests/application.rs
  src/detector.rs
  src/lib.rs
  src/report.rs
  src/report/sarif.rs
  src/run_error.rs
  src/scanner.rs
  src/scanner/error.rs
  src/scanner/files.rs
  src/scanner/limits.rs
  src/scanner/lines.rs
  src/scanner/staged.rs
  src/utils.rs
  templates/pre-push.sh
  tests/accuracy_corpus.toml
  tests/accuracy_corpus_tests.rs
  tests/baseline_tests.rs
  tests/detector_tests.rs
  tests/hardening_tests.rs
  tests/hooks_tests.rs
  tests/report_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

scanner: Fix CI and review findings
  .keywatch-baseline.json
  README.md
  detectors.toml
  docs/plans/2026-10-06-hardening.md
  docs/security-and-validation.md
  src/scanner.rs
  src/scanner/lines.rs
  src/scanner/staged.rs
  tests/baseline_tests.rs
  tests/hardening_tests.rs
  tests/scanner_tests.rs
  tests/utils_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

scanner: Fix coverage and output edge cases
  src/scanner.rs
  src/scanner/files.rs
  src/scanner/staged.rs
  src/utils.rs
  tests/accuracy_corpus.toml
  tests/hardening_tests.rs
  tests/scanner_tests.rs
  tests/utils_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

Path conditions:
  keywatch: any of: .*\.(rs|txt|py|js)$
  cargo-fmt-check: any of: .*\.(rs)$ and \.rs$
  cargo-clippy: any of: .*\.(rs)$ and \.rs$
