Repository pixincreate/KeyWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: keywatch, cargo-fmt-check, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: keywatch
        name: KeyWatch Secret Scanner
        entry: ./hooks/keywatch.sh
        language: system
        files: .*\.(rs|txt|py|js)$

      - id: cargo-fmt-check
        name: "Check Rust formatting with cargo fmt"
        entry: cargo +nightly fmt --all -- --check
        language: system
        types: [rust]
        files: .*\.(rs)$
        
      - id: cargo-clippy
        name: "Check Rust code with clippy"
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        files: .*\.(rs)$

refactor: type hook lifecycle errors
  src/hooks.rs
  src/hooks/error.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs: record typed error API break
  CHANGELOG.md
Due: none

refactor: compose typed CLI runtime errors
  src/lib.rs
  src/run_error.rs
  tests/cli_validation_tests.rs
  tests/run_cli_error_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: type baseline errors
  src/baseline.rs
  tests/baseline_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: type CLI validation errors
  src/cli.rs
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: type configuration errors
  src/config/mod.rs
  src/config/tests/application.rs
  src/config/tests/discovery.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: type scanner errors
  src/scanner.rs
  src/scanner/error.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: type detector initialization errors
  src/detector.rs
  src/detector/error.rs
  tests/detector_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

style: clarify report identifiers
  src/report.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs: replace architecture svg with mermaid diagrams
  README.md
  docs/architecture.svg
Due: none

docs: update architecture changelog entry
  CHANGELOG.md
Due: none

feat: user config file, SARIF output, detector overrides, pre-commit hooks (#73)
  .github/actions/keywatch-scan/action.yml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  scripts/validate-keywatch-action.py
  src/baseline.rs
  src/cli.rs
  src/config/mod.rs
  src/config/tests.rs
  src/config/tests/application.rs
  src/config/tests/discovery.rs
  src/detector.rs
  src/detector/error.rs
  src/hooks.rs
  src/hooks/error.rs
  src/lib.rs
  src/report.rs
  src/report/sarif.rs
  src/run_error.rs
  src/scanner.rs
  src/scanner/error.rs
  templates/pre-push.sh
  tests/baseline_tests.rs
  tests/cli_validation_tests.rs
  tests/detector_tests.rs
  tests/hooks_tests.rs
  tests/report_tests.rs
  tests/run_cli_error_tests.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: embed detector rules for standalone binaries
  src/detector.rs
  tests/exit_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs: add CLI module architecture diagram
  docs/architecture/cli-modules.d2
  docs/architecture/cli-modules.svg
Due: none

docs: add scan pipeline architecture diagram
  docs/architecture/scan-pipeline.d2
  docs/architecture/scan-pipeline.svg
Due: none

docs: add detector trust architecture diagram
  docs/architecture/detector-config-trust.d2
  docs/architecture/detector-config-trust.svg
Due: none

build: add deterministic diagram rendering
  scripts/render-diagrams.sh
Due: none

docs: document architecture diagrams
  CHANGELOG.md
  README.md
Due: none

docs: add license section to README
  README.md
Due: none

fix: embed detector rules for standalone binaries (#75)
  CHANGELOG.md
  README.md
  docs/architecture/cli-modules.d2
  docs/architecture/cli-modules.svg
  docs/architecture/detector-config-trust.d2
  docs/architecture/detector-config-trust.svg
  docs/architecture/scan-pipeline.d2
  docs/architecture/scan-pipeline.svg
  scripts/render-diagrams.sh
  src/detector.rs
  tests/exit_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

feat: expose checksum-verified root action
  action.yml
Due: none

build: synchronize action version during releases
  scripts/action_validation/release_script_scenario.py
  scripts/release.sh
Due: keywatch

test: validate public action distribution
  scripts/action_validation/keywatch_action_scenarios.py
  scripts/action_validation/validate.py
  scripts/validate-keywatch-action.py
Due: keywatch

ci: gate release artifact publishing
  .github/workflows/release.yml
Due: none

ci: attest versioned container images
  .github/workflows/docker-publish.yml
Due: none

ci: validate public distribution paths
  .github/workflows/ci.yml
Due: none

docs: document public distribution
  CHANGELOG.md
  README.md
Due: none

feat: harden public Action and container distribution (#76)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  action.yml
  scripts/action_validation/keywatch_action_scenarios.py
  scripts/action_validation/release_script_scenario.py
  scripts/action_validation/validate.py
  scripts/release.sh
  scripts/validate-keywatch-action.py
Due: keywatch

fix: make changelog release insertion portable
  scripts/action_validation/release_script_scenario.py
  scripts/release.sh
Due: keywatch

release(KeyWatch): version 2.0.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  action.yml
Due: none

release(KeyWatch): version 2.0.0 (#77)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  action.yml
  scripts/action_validation/release_script_scenario.py
  scripts/release.sh
Due: keywatch

fix: ignore Python bytecode during release validation
  .gitignore
  scripts/action_validation/validate.py
Due: keywatch

fix: ignore Python bytecode during release validation (#78)
  .gitignore
  scripts/action_validation/validate.py
Due: keywatch

release(KeyWatch): version 2.0.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  action.yml
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

release(KeyWatch): version 2.0.1 (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  action.yml
Due: none

fix: encode baseline hashes without LowerHex formatting
  src/baseline.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: use hex crate for baseline hash encoding
  Cargo.lock
  Cargo.toml
  src/baseline.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: encode baseline hashes without LowerHex formatting (#82)
  Cargo.lock
  Cargo.toml
  src/baseline.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

chore: add self-scan config excluding test fixtures
  .keywatch.toml
Due: none
