Repository pixincreate/KeyWatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: keywatch, cargo-fmt-check, cargo-clippy

keywatch:
  name: KeyWatch Secret Scanner
  entry: ./hooks/keywatch.sh
  language: system

cargo-fmt-check:
  name: Check Rust formatting with cargo fmt
  entry: cargo +nightly fmt --all -- --check
  language: system

cargo-clippy:
  name: Check Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system

feat: add baseline suppression for known findings
  src/baseline.rs
  src/cli.rs
  src/lib.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: add CRITICAL severity support (was silently downgraded to LOW)
  .omo/plans/keywatch-missing-features.md
  .omo/run-continuation/ses_05602b1e2ffeoBPT67H1238F2F.json
  .omo/run-continuation/ses_05602b9daffeBTAW5HfpgpTbbE.json
  .omo/run-continuation/ses_05602c28dffeMnVBNAUYOkJWOt.json
  .omo/run-continuation/ses_0561a2c10ffe7AE7Z3yONLdYSr.json
  .omo/run-continuation/ses_0561a36eaffevXaOglyiMqBpPA.json
  .omo/run-continuation/ses_05caa4ebdffeBqbrcdE5iTVEa6.json
  .omo/run-continuation/ses_05caa5eaaffetQyo4Qc712PNpx.json
  .omo/run-continuation/ses_05caa6a12ffeu4XytKDyZbdyR1.json
  .omo/run-continuation/ses_05caac3b6ffeLsixjH1CmpaUWE.json
  src/lib.rs
  src/report.rs
  tests/report_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: resolve merge conflicts and restore full feature implementation
  .omo/plans/keywatch-missing-features.md
  .omo/run-continuation/ses_05602b1e2ffeoBPT67H1238F2F.json
  .omo/run-continuation/ses_05602b9daffeBTAW5HfpgpTbbE.json
  .omo/run-continuation/ses_05602c28dffeMnVBNAUYOkJWOt.json
  .omo/run-continuation/ses_0561a2c10ffe7AE7Z3yONLdYSr.json
  .omo/run-continuation/ses_0561a36eaffevXaOglyiMqBpPA.json
  .omo/run-continuation/ses_05caa4ebdffeBqbrcdE5iTVEa6.json
  .omo/run-continuation/ses_05caa5eaaffetQyo4Qc712PNpx.json
  .omo/run-continuation/ses_05caa6a12ffeu4XytKDyZbdyR1.json
  .omo/run-continuation/ses_05caac3b6ffeLsixjH1CmpaUWE.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  detectors.toml
  src/baseline.rs
  src/cli.rs
  src/detector.rs
  src/lib.rs
  src/report.rs
  src/scanner.rs
  src/utils.rs
  tests/baseline_tests.rs
  tests/detector_tests.rs
  tests/scanner_tests.rs
  typos.toml
Due: keywatch, cargo-fmt-check, cargo-clippy

chore: put omo in gitignore
  .gitignore
Due: none

fix: scan_stream chunk overlap, salted SHA-256 baseline, real stdin integration test, graceful git-not-found
  Cargo.lock
  Cargo.toml
  src/baseline.rs
  src/report.rs
  src/scanner.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: address PR review issues - remove eval, add --locked, non-root user, GH auth, keep Cargo.lock
  .dockerignore
  .github/actions/keywatch-scan/action.yml
  Dockerfile
Due: none

feat: add GitHub Action composite action and Dockerfile
  .dockerignore
  .github/actions/keywatch-scan/action.yml
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

docs(changelog): add PR review fix entries
  CHANGELOG.md
Due: none

docs(changelog): add GitHub Action and Docker entries
  CHANGELOG.md
Due: none

chore: bump GitHub Actions to latest versions, minimize Docker image to scratch
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

refactor: use const for baseline version and domain separator, rename severity param
  src/baseline.rs
  src/report.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

chore: upgrade workflow actions to latest, add git to Docker image
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Dockerfile
Due: none

fix: stabilize baseline fingerprints
  Cargo.lock
  Cargo.toml
  src/baseline.rs
  tests/baseline_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: validate detector severity and names
  detectors.toml
  src/detector.rs
  src/report.rs
  tests/detector_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: harden file and git history scanning
  src/cli.rs
  src/scanner.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: harden generated git hooks
  templates/pre-commit.sh
  templates/pre-push.sh
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

style: group Rust imports
  src/baseline.rs
  src/detector.rs
  src/report.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: harden composite scan action
  .github/actions/keywatch-scan/action.yml
  scripts/validate-keywatch-action.py
Due: keywatch

fix: align Docker and release publishing
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

fix: guard Unix-only hook test imports
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: clarify pre-push remote policy shell
  templates/pre-push.sh
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

refactor: simplify baseline hashing
  src/baseline.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

style: use descriptive scanner test errors
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

feat: implement missing features per gap analysis (#69)
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  detectors.toml
  justfile
  src/baseline.rs
  src/cli.rs
  src/detector.rs
  src/lib.rs
  src/report.rs
  src/scanner.rs
  src/utils.rs
  templates/pre-commit.sh
  templates/pre-push.sh
  tests/baseline_tests.rs
  tests/detector_tests.rs
  tests/hooks_tests.rs
  tests/report_tests.rs
  tests/scanner_tests.rs
  typos.toml
Due: keywatch, cargo-fmt-check, cargo-clippy

feat: add GitHub Action and Docker support (#72)
  .dockerignore
  .github/actions/keywatch-scan/action.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Dockerfile
  scripts/validate-keywatch-action.py
Due: keywatch

feat: add config file, SARIF output, format selection, and pre-commit system hook
  .pre-commit-hooks.yaml
  src/cli.rs
  src/config.rs
  src/lib.rs
  src/report.rs
  src/scanner.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs: add architecture section to README with Mermaid diagrams and data flow
  README.md
Due: none

refactor: extract hook lifecycle from lib.rs into hooks.rs
  src/config.rs
  src/hooks.rs
  src/lib.rs
  src/scanner.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs: add SVG architecture diagram, replace mermaid sections in README
  CHANGELOG.md
  README.md
  docs/architecture.svg
Due: none

docs(changelog): add config, SARIF, format, and architecture entries
  CHANGELOG.md
Due: none

refactor: split configuration module
  src/config.rs
  src/config/mod.rs
  src/config/tests.rs
  src/config/tests/application.rs
  src/config/tests/discovery.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

feat: apply configuration during scans
  src/cli.rs
  src/lib.rs
  src/scanner.rs
  tests/scanner_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

feat: add redacted SARIF reporting
  src/report.rs
  src/report/sarif.rs
  tests/report_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: isolate action config discovery
  .github/actions/keywatch-scan/action.yml
  scripts/validate-keywatch-action.py
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

test: restore baseline regression coverage
  tests/baseline_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: prevent repository config from bypassing pre-push scan
  templates/pre-push.sh
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

style: use descriptive SARIF names
  src/report/sarif.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

docs: document scan configuration options
  README.md
Due: none

style: use descriptive config names
  src/config/mod.rs
  src/config/tests/application.rs
  src/config/tests/discovery.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

fix: ignore repository detector overrides in trusted scans
  src/detector.rs
  src/scanner.rs
  tests/hooks_tests.rs
Due: keywatch, cargo-fmt-check, cargo-clippy

Path conditions:
  keywatch: any of: .*\.(rs|txt|py|js)$
  cargo-fmt-check: any of: .*\.(rs)$ and \.rs$
  cargo-clippy: any of: .*\.(rs)$ and \.rs$
